notes
logs
*.log
pids
*.pid
*.seed
lib-cov
build/Release
.lock-wscript
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
/node_modules
/coverage/
/src/typings/tsd/
/typings/
/tsd_typings/
/dist
/public/__build__/
/src/*/__build__/
__build__/**
.webpack.json
/doc/
.idea/
*.swp